<!DOCTYPE>
<html>
     <head>
       <meta charset="utf-8">
       <title>Some website Page</title>
     </head>
     <body>
       <h1>we'll be right back </h1>
  <p>
    website under maintainance
  </p>
     </body>
 </html>
