<!DOCTYPE>
<html>
     <head>
       <meta charset="utf-8">
       <title>Some website Page</title>
     </head>
     <body>
    {{>header}}
       <p>projects page</p>
    {{> footer}}
     </body>
 </html>
